# requirements.txt
streamlit==1.28.0
pandas==2.0.0
numpy==1.24.0
plotly==5.15.0
scikit-learn==1.3.0  # <-- Esta es la clave para sklearn
geopandas==0.13.0; sys_platform != 'win32'  # Opcional para Windows
fpdf2==2.7.4
pyproj==3.6.0; sys_platform != 'win32'
shapely==2.0.1; sys_platform != 'win32'
